@media (max-width: 1919px) {
  .header {
    height: 170px;

    &__logo {
      width: 187px;
      height: 110px;
    }
  }

  .main {
    &__video {
      height: 450px;
    }

    &__title {
      font-size: 60px;
      line-height: 73px;
    }

    &__arrow {
      height: 70px;
      width: 62px;
    }
  }

  .services {
    padding: 110px 0 140px;

    &__wrapper {
      margin-top: 135px;
      max-width: 1000px;
      grid-template: repeat(2, auto) / repeat(3, 280px);
      gap: 130px 80px;
    }

    &-block {
      max-width: 280px;
      &__logo {
        height: 70px;
      }

      &:nth-of-type(5) > &__logo {
        height: 74px;
      }
    }
  }
}

@media (max-width: 1439px) {
  .main {
    // min-height: 660px;
    &__bg {
      height: 370px;
    }
  }

  .services {
    padding: 110px 0px 120px;
    &__title {
      &:after,
      &:before {
        width: 380px;
      }
    }

    &__wrapper {
      margin-top: 120px;
      gap: 100px 50px;
    }
  }

  .footer {
    &__top {
      column-gap: 40px;
      padding: 50px 20px;
    }

    &-map {
      left: 185px;
    }
  }
}

@media (max-width: 1199px) {
  .main {
    &__title {
      font-size: 50px;
      line-height: 63px;
    }
  }

  .services {
    &__title {
      font-size: 36px;

      &:after,
      &:before {
        width: 300px;
      }
      &::after {
        transform: translateX(110%);
      }
      &::before {
        transform: translateX(-110%);
      }
    }

    &__wrapper {
      max-width: 900px;
      grid-template: repeat(2, auto) / repeat(3, 250px);
    }

    &-block {
      &__logo {
        height: 80px !important;
      }
      &__subtitle {
        font-size: 22px;
      }
    }
  }

  .footer {
    &__logo {
      width: 156px;
      height: 110px;
    }

    &__top {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 350px;
      grid-template-areas:
        'logo contacts mailing'
        '. . .';
      height: unset;
      justify-items: center;
      gap: 0;
      padding: 50px 0;
    }

    &-map {
      left: 50%;
      transform: translateX(-50%) scale(1.3);
      top: 250px;
    }

    &__copy-icon {
      display: inline-block;
      margin-right: 5px;
    }
  }
}

@media (max-width: 991px) {
  .header {
    height: 160px;
  }

  .main {
    &__title {
      width: 750px;
    }
  }
  .services {
    padding-bottom: 90px;

    &__title {
      font-size: 32px;

      &:after,
      &:before {
        width: 210px;
      }

      &::after {
        transform: translateX(120%);
      }
      &::before {
        transform: translateX(-120%);
      }
    }

    &__wrapper {
      max-width: 640px;
      grid-template: repeat(2, auto) / repeat(2, 280px);
      gap: 80px 0px;
    }
  }

  .footer {
    &-block {
      &__selected {
        width: 250px;
      }
    }
  }
}

@media (max-width: 768px) {
  .main {
    &__video {
      height: 400px;
    }

    &__title {
      width: 550px;
      font-size: 42px;
      line-height: 50px;
    }
  }

  .services {
    &__wrapper {
      margin-top: 0;
      justify-content: space-around;
      grid-template: auto/ repeat(2, 240px);
      row-gap: 60px;
    }

    &__title {
      display: none;
    }

    &-block {
      max-width: 240px;
      text-align: center;
      align-items: center;
    }
  }

  .footer {
    &__logo {
      width: 185px;
    }
    &__top {
      grid-template: 1fr 350px 1fr / repeat(2, 1fr);
      grid-template-areas:
        'logo logo'
        '. .'
        'contacts mailing';
      padding: 40px 20px;
    }

    &-map {
      transform: translateX(-50%) scale(1.1);
      top: 210px;
    }
  }
}

@media (max-width: 575px) {
  .main {
    &__video {
      height: 350px;
    }

    &__title {
      width: 300px;
      font-size: 40px;
      line-height: 48px;
    }

    &__arrow {
      margin-top: 25px;
      height: 60px;
      width: 53px;
    }
  }

  .services {
    padding: 60px 0px 75px;

    &__title {
      display: none;
    }

    &__wrapper {
      margin-top: 0;
      grid-template: auto / auto;
      grid-auto-rows: auto;
      row-gap: 40px;
    }

    &-block {
      padding: 0 10px;
      max-width: 90%;
      align-items: flex-start;
      text-align: start;

      &__subtitle {
        font-size: 26px;
        line-height: 27px;
      }

      &__descr {
        font-size: 19px;
        line-height: 24px;
      }
    }
  }

  .footer {
    &__top {
      justify-items: start;
      grid-template: repeat(2, 1fr) auto / 1fr;
      grid-template-areas:
        'logo'
        'contacts'
        'mailing';
      row-gap: 45px;
    }

    &-map {
      display: none;
    }

    &-block {
      max-width: 100%;
      &__subtitle {
        font-size: 26px;
        line-height: 25px;
      }

      &__selected {
        span {
          font-size: 18px;
          line-height: 25px;
        }
      }

      &__address {
        font-size: 18px;
        line-height: 25px;
      }

      &_contacts {
        width: 100%;
      }
    }

    &__rights {
      br {
        display: block;
      }
    }
  }
}

@media (max-width: 349px) {
  .footer {
    &-block {
      &__email {
        font-size: 16px;
      }
    }
  }
}
